# -------------------------------------------------
# These files will be ignored be the git add command.
# -------------------------------------------------
# 
venv/
.venv/
.env/
ENV/
env/
.virtualenv/
__pycache__/